@focus-height: 800px;

.focus {
  height: @focus-height;
  background: url('../../img/focus.png') no-repeat center bottom;
  background-size: cover;
}

.focus-inner {
  height: @focus-height / 2;
  background-position: center center;
}