/* footer */
.footer {
  background: #000;
  box-sizing: border-box;
  padding: 30px 24px;
  color: #bbb;
  text-align: center;
}
.footer p {
  margin: 8px 0;
}
.footer .footer-short a {
  color: #bbb;
  margin: 0 15px;
}
.footer .footer-map a {
  margin: 0 5px;
  color: #bbb;
}
.footer a:hover {
  color: @primary-color;
}
/* /footer */